@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}
body{
    background-image: url('wall2.jpg');
}
.heading{
    text-align: center;
}
.test{
    /*font-family: 'Fredoka One', cursive;
    font-size: 3em;
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: royalblue;
    text-decoration-thickness: 15px;
    text-decoration-skip-ink: none;
    text-underline-offset: -10px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px royalblue, 0 0 20px royalblue, 0 0 25px royalblue, 0 0 30px royalblue, 0 0 35px royalblue;
    animation: blinker 5s linear infinite;*/

    color: #fff;
    text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
    font-family: "Sacramento", sans-serif;
}

h1{
    font-size: 60px;
    /*animation: pulsate 1s infinite alternate;*/
}
@keyframes pulsate {
    
    100% {
        text-shadow:
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 8px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    }
    0% {
      text-shadow:
      0 0 0px #fff,
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  }
}

/*@keyframes blinker {
    50% {
      opacity: 0;
    }
}*/

.mainDivForm{
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color:#cb6bf1;
    border: 0.5px solid #bc13fe;
    border-radius: 10px;
    box-shadow:  0 0 20px 1px #bc13fe;
}

input{
    border: 0.5px solid #bc13fe;
    border-radius: 10px;
}
.list{
    color: #1b1b32;
    background-color:#cb6bf1;
    border: 0.5px solid #bc13fe;
    border-radius: 10px;
}


.submit-button{
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 0.5px solid #bc13fe;
    border-radius: 10px;
}
.submit-button:hover{
    background-color: #bc13fe;
    color: white;
    box-shadow: 0 0 20px 5px #bc13fe;
}